//
// Headings
//

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-bottom: $headings-margin-bottom;
	color: $headings-color;
	font-weight: $headings-font-weight;
	font-family: $headings-font-family;
	line-height: $headings-line-height;
}

h1,
.h1 {
	font-size: $font-size-h1;
}

h2,
.h2 {
	font-size: $font-size-h2;
}

h3,
.h3 {
	font-size: $font-size-h3;
}

h4,
.h4 {
	font-size: $font-size-h4;
}

h5,
.h5 {
	font-size: $font-size-h5;
}

h6,
.h6 {
	font-size: $font-size-h6;
}

//
// Emphasis
//

small,
.small {
	font-weight: $font-weight-normal;
	font-size: $small-font-size;
}

//
// Lists
//

.list-unstyled {
	padding-left: 0;
	list-style: none;
}
