.minicart {
	position: relative;
	&__button {
		display: inline-block;
		margin-bottom: 20px;
		min-width: 18px;
		span {
			position: absolute;
		}
		&.active {
			span {
				visibility: hidden;
			}
			&:before {
				content: "\f00d";
			}
			+ .widget_shopping_cart_content {
				visibility: visible;
				opacity: 1;
			}
		}
		&:before {
			content: "\f290";
			vertical-align: bottom;
			transition: .3s;
		}
	}
	.widget_shopping_cart_content {
		position: absolute;
		top: 0;
		right: 200%;
		visibility: hidden;
		padding: 30px;
		width: 400px;
		background-color: #fff;
		box-shadow: 0 20px 30px 0 rgba(0, 0, 0, .1);
		opacity: 0;
		transition: .3s;
		&.active {
			right: 150%;
			visibility: visible;
			opacity: 1;
		}
	}
}

.woocommerce-mini-cart__total {
	margin: 20px;
	text-align: center;
}

.woocommerce-mini-cart__buttons {
	margin: 0;
	text-align: center;
	a.button {
		margin: 10px;
	}
}
