.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
	img[class*="wp-image-"] {
		@include center-block;
	}
	.wp-caption-text {
		margin: .8075em 0;
	}
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	text-align: center;
	.gallery-columns-2 & {
		max-width: 50%;
	}
	.gallery-columns-3 & {
		max-width: 33.33%;
	}
	.gallery-columns-4 & {
		max-width: 25%;
	}
	.gallery-columns-5 & {
		max-width: 20%;
	}
	.gallery-columns-6 & {
		max-width: 16.66%;
	}
	.gallery-columns-7 & {
		max-width: 14.28%;
	}
	.gallery-columns-8 & {
		max-width: 12.5%;
	}
	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}

