[data-layout="fullwidth"] {
	.content {
		&__left {
			@include cell(xs, 12);
		}
		&__right {
			display: none;
		}
	}
}

[data-layout="sidebar-content"] {
	.content-area {
		order: 2;
	}
}

.site {
	&__title {
		@extend .h1;
	}
	&__description {
		font-size: 13px;
	}
}

.header {
	&__wrapper {
		align-items: center;
		padding-top: resunit(100);
		padding-bottom: resunit(100);
		@extend %container;
		@extend %grid;
	}
	&__left {
		@include cell(md, 3);
	}
	&__right {
		@include cell(md, 9);
	}
}

.content {
	&__wrapper {
		@extend %container; /*!*/
		@extend %grid; /*!*/
	}
	&__left {
		@include cell(md, 9);
		.hentry {
			margin-bottom: resunit(100);
		}
	}
	&__right {
		@include cell(md, 3);
	}
}

.footer {
	&__wrapper {
		padding-top: resunit(100);
		padding-bottom: resunit(100);
		@extend %container;
	}
}
