.pagination {
	position: relative;
	border-top: 4px solid #1a1a1a;
	font-size: 19px;
	.nav-links {
		position: relative;
	}
	.page-numbers {
		display: inline-block;
		margin: 0 .7368421053em 0 -.7368421053em;
		padding: .8157894737em .7368421053em .3947368421em;
	}
}
