/**
 * _fonts.scss
 * Custom WooCommerce fonts.
 */
@font-face {
	font-family: star;
	src: url("assets/libs/woo-fonts/star.eot");
	src: url("assets/libs/woo-fonts/star.eot?#iefix") format("embedded-opentype"),
		url("assets/libs/woo-fonts/star.woff") format("woff"),
		url("assets/libs/woo-fonts/star.ttf") format("truetype"),
		url("assets/libs/woo-fonts/star.svg#star") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: WooCommerce;
	src: url("assets/libs/woo-fonts/WooCommerce.eot");
	src: url("assets/libs/woo-fonts/WooCommerce.eot?#iefix") format("embedded-opentype"),
		url("assets/libs/woo-fonts/WooCommerce.woff") format("woff"),
		url("assets/libs/woo-fonts/WooCommerce.ttf") format("truetype"),
		url("assets/libs/woo-fonts/WooCommerce.svg#WooCommerce") format("svg");
	font-weight: normal;
	font-style: normal;
}
