// Hidden
@mixin hidden($lower, $upper) {
	@include media-breakpoint-between($lower, $upper) {
		display: none;
	}
}

// Center block
@mixin center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

// Center
@mixin is-translated($width: 100%) {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: auto;
	width: $width;
	transform: translate(-50%, -50%);
}

// Absolute center
@mixin absolute-center() {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

/////////////////////////////////////////////////
// Responsive font size
/////////////////////////////////////////////////

// These values are the minimum and maximum viewport sizes to apply the font scaling
$res_min_width: 576 !default;
$res_max_width: 1200 !default;

@mixin res-font-size($fontsizemin,$fontsizemax) {
	font-size: #{$fontsizemin}px;
	@include media-breakpoint-between(sm, xl) {
		font-size: calc(#{$fontsizemin}px + (#{$fontsizemax} - #{$fontsizemin}) * ((100vw - #{$res_min_width}px) / (#{$res_max_width} - #{$res_min_width})));
	}
	@include media-breakpoint-up(xl) {
		font-size: #{$fontsizemax}px;
	}
}
