// fixit: setup base on theme design
$link-color           : #0275d8 !default;
$link-decoration      : none !default;
$link-hover-color     : darken($link-color, 15%) !default;
$link-hover-decoration: none !default;
