// fixit: setup base on theme design
// Body
$font-family-base      : -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-size-base        : 1rem !default; // Assumes the browser default, typically `16px`
$line-height-base      : 1.5 !default;
$font-weight-base      : normal !default;

// Heading
$font-size-h1          : 2.5rem !default;
$font-size-h2          : 2rem !default;
$font-size-h3          : 1.75rem !default;
$font-size-h4          : 1.5rem !default;
$font-size-h5          : 1.25rem !default;
$font-size-h6          : 1rem !default;

$headings-margin-bottom: 0 !default;
$headings-font-family  : Montserrat, Helvetica, Arial, sans-serif !default;
$headings-font-weight  : 600 !default;
$headings-line-height  : 1.5 !default;
$headings-color        : inherit !default;
