$grid-columns            : 12 !default;
$grid-col-gap-width-base : 30px !default;
$grid-row-gap-width-base : 30px !default;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1920px
) !default;

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1170px,
	xxl: 1440px
) !default;
