@mixin make-grid-gap($col-gap: $grid-col-gap-widths, $row-gap: $grid-row-gap-widths) {
	@each $breakpoint in map-keys($col-gap) {
		@include media-breakpoint-up($breakpoint) {
			$gutter: map-get($col-gap, $breakpoint);
			grid-column-gap: $gutter;
		}
	}
	@each $breakpoint in map-keys($row-gap) {
		@include media-breakpoint-up($breakpoint) {
			$gutter: map-get($row-gap, $breakpoint);
			grid-row-gap: $gutter;
		}
	}
}

@mixin make-container($gutters: $grid-col-gap-widths) {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	@each $breakpoint in map-keys($gutters) {
		@include media-breakpoint-up($breakpoint) {
			$gutter: map-get($gutters, $breakpoint);
			padding-right: $gutter;
			padding-left: $gutter;
		}
	}
}

@mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
	@each $breakpoint, $container-max-width in $max-widths {
		@include media-breakpoint-up($breakpoint, $breakpoints) {
			width: $container-max-width;
			max-width: 100%;
		}
	}
}

@mixin make-grid() {
	display: grid;
	grid-template-columns: repeat($grid-columns, 1fr);
	@include make-grid-gap();
}

@mixin make-grid-cells($columns: $grid-columns, $breakpoints: $grid-breakpoints) {
	// Common properties for all breakpoints
	%grid-cell {
		position: relative;
		grid-column: span 12;
		width: 100%;
		min-height: 1px; // Prevent columns from collapsing when empty
	}
	@each $breakpoint in map-keys($breakpoints) {
		$infix: breakpoint-infix($breakpoint, $breakpoints);
		// Allow columns to stretch full width below their breakpoints
		@for $i from 1 through $columns {
			.cell#{$infix}-#{$i} {
				@extend %grid-cell;
			}
		}
		@include media-breakpoint-up($breakpoint, $breakpoints) {
			@for $i from 1 through $columns {
				.cell#{$infix}-#{$i} {
					grid-column: span #{$i};
				}
			}
		}
	}
}
