// Grid Options
$enable-grid-classes: true !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1170px
) !default;

// Grid cells
//
// Set the number of cells and specify the width of the gap.

$grid-columns: 12 !default;

$grid-col-gap-width-base: 30px !default;
$grid-row-gap-width-base: 30px !default;

$grid-col-gap-widths: (
	xs: $grid-col-gap-width-base,
	sm: $grid-col-gap-width-base,
	md: $grid-col-gap-width-base,
	lg: $grid-col-gap-width-base,
	xl: $grid-col-gap-width-base
) !default;

$grid-row-gap-widths: (
	xs: $grid-row-gap-width-base,
	sm: $grid-row-gap-width-base,
	md: $grid-row-gap-width-base,
	lg: $grid-row-gap-width-base,
	xl: $grid-row-gap-width-base
) !default;
