%grid {
	@include make-grid;
}

%container {
	@include make-container();
	@include make-container-max-widths();
}

%container-fluid {
	@include make-container();
}

@mixin cell($breakpoint, $column) {
	@extend %grid-cell;
	@include media-breakpoint-up($breakpoint) {
		grid-column: span $column;
	}
}
