// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

@if $enable-grid-classes {
	.container {
		@include make-container();
		@include make-container-max-widths();
	}
}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

@if $enable-grid-classes {
	.container-fluid {
		@include make-container();
	}
}

// Grid
//
// Grid contain and clear the floats of your columns.

@if $enable-grid-classes {
	.grid {
		@include make-grid;
	}
}

// Cells
//
// Common styles for small and large grid cells

@if $enable-grid-classes {
	@include make-grid-cells();
}
